<%= render 'shared/page_title', a: "Listing of all chefs" %>

<div align="center">
  <%= will_paginate %>
</div>

<% @chefs.each_with_index do |chef, index| %>
<div class= "row">
  <div class= "col-md-1">
    <section class="center">
    </section>
  </div>
  <div class= "col-md-8 well">
    <h4><%= index+1 %>) <%= link_to chef.chefname.capitalize, chef_path(chef) %></h4>
    <p><%= link_to chef.email %></p>


    <% if logged_in? and current_chef.admin? && !chef.admin %>
    <li>
    <%= link_to "Delete this chef", chef_path(chef), method: :delete, data: { confirm: "Are you sure you want to delete this Chef and all associated recipes?"}, class: "btn btn-xs btn-danger" %>
    </li>
    <% end %>


<li><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %>
            </small></li>

    <p>
      <span class="quiet"><small>Created 
        <%= time_ago_in_words(chef.created_at) %> ago</small></span>
    </p>
    <hr>
  </div>
</div>

<% end %>


<div align="center">
  <%= will_paginate %>
</div>
